@model IEnumerable<Gestion.Datos.Entidades.Existencia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CEntra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CEntra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saldo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
